* {
  margin: 0;
  padding: 0;
}

#top-bar {
  width: 99vw;
  margin-left: 1vw;
  height: 10vh;
}

#clock {
  font-size: 7vh;
  float: left;
  left: 1vw;
}

#block {
  font-size: 7vh;
  position: absolute;
  right: 1vw;
}

#date {
  font-size: 3vh;
  right: 1vw;
}

.block-container {
  width: 100vw;
}

.block {
  border: 0.1vw solid black;
  margin: 1vh 1vw 1vh 0vw;
  height: 2vh;
  font-size: 1.5vh;
  text-align: center;
  vertical-align: middle;
  line-height: 2vh;
  width: 90vw;
  float: right;
}

.block-time {
    border: 0.1vw solid rgb(255, 255, 255, 0);
    margin: 1vh 0vw 1vh 1vw;
    width: 7.5vw;
    height: 2vh;
    text-align: center;
    vertical-align: middle;
    line-height: 2vh;
    float: left;
    font-size: 2vh;
}

footer {
  position: fixed;
  font-size: 1.5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}